/**
 * Fichier CSS
 * pour les produits
 * @author Christian Bonhomme
 * @version 1.0
 * @package PROJET-MOOC
 */

article
{
width: 49.5%;
height: 180px;
}

article:nth-child(even)
{
float: left;
}

article:nth-child(odd)
{
float: right;
}

#content img, article img
{
float: left;
margin: 5px;
}

article h3
{
margin: 5px;
}

.ref
{
font-size: 80%;
font-style: italic;
}

button
{
background-repeat: no-repeat;
background-color: transparent;
width: 100px;
height: 20px;
border: 0;
vertical-align: middle;
color: transparent;
cursor: pointer;
}

button.buy
{
background: transparent url(../Img/achat_off.png) no-repeat;
}

button.buy:hover
{
background: transparent url(../Img/achat_on.png) no-repeat;
}

button.button
{
width: 16px;
height: 16px;
border: 0;
margin: 5px 0 0 0;
vertical-align: middle;
color: transparent;
cursor: pointer;
}

button.close
{
background: transparent url(../Img/close.png) no-repeat;
}

#footer_products
{
display: table;
width: 100%;
border: 0;
}

#footer_products span
{
display: table-cell;
width: 33%;
}

#footer_products span:nth-child(1)
{
text-align: left;
}

#footer_products span:nth-child(2)
{
text-align: center;
}

#footer_products span:nth-child(3)
{
text-align: right;
}

#content #titre
{
display: table-cell;
padding-left: 10px;
}

#breadcrumb
{
display: table-cell;
vertical-align: middle;
padding-left: 5px;
}
